.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 20px;
}

.form input {
  width: 400px;
  padding: 12px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 7px;
  outline: none;
  background-color: #5b5c85;
  color: #f6f1de;
  border: none;
}

.form input:focus {
  outline: 1px solid #8ab2a6;
  border: none;
}

.form button {
  width: 400px;
  padding: 12px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #8ab2a6;
  border: none;
}

.form button:hover {
  background-color: #789b90;
}

.form div {
  display: flex;
  flex-direction: column;
}

.form label {
  color: #addfd0;
}

@media screen and (max-width: 480px) {
  .form input {
    width: 300px;
  }

  .form button {
    width: 300px;
  }
}
