.alertMessage {
  width: fit-content;
  height: 50px;
  background-color: #0e1249;
  color: #addfd0;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 3s;
  padding: 0 20px;
  box-shadow: 1px 1px 1px #181f7c;
}
