.inputContainer {
  position: relative;
  height: fit-content;
}

.passwordInputIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  cursor: pointer;
  color: #8ab2a6;
  transform: translateY(-50%);
}
