.chatContainer {
  width: 80%;
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messageText {
  word-break: break-word;
  white-space: pre-wrap;
}

.sendMessageContainer {
  /* flex: 1; */
  display: flex;
  align-items: center;
  margin: 10px 10px;
  height: fit-content;
}

.sendMessageContainer textarea {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  background-color: #5b5c85;
  color: #f6f1de;
  border: none;
  font-size: 16px;
  overflow: hidden;
  resize: none;
}

.sendMessageContainer textarea:focus {
  outline: 1px solid #8ab2a6;
  border: none;
}

.sendMessageContainer textarea::placeholder {
  color: #8ab2a6;
  font-size: 14px;
}

.sendMessageContainer textarea:focus::placeholder {
  color: transparent;
}

.sendMessageContainer button {
  width: 15%;
  min-width: 60px;
  padding: 12px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #8ab2a6;
  border: none;
  text-align: center;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding: 0 50px;
}

.senderMessage {
  background-color: #0e1249;
  color: #addfd0;
  text-align: right;
  font-size: 17px;
  margin: 5px;
  padding: 5px 20px;
  border-radius: 15px;
  max-width: 70%;
}

.receiverMessage {
  background-color: #addfd0;
  color: #0e1249;
  align-self: baseline;
  font-size: 17px;
  margin: 5px;
  padding: 5px 20px;
  border-radius: 15px;
  max-width: 70%;
}

.messageProfilePicture {
  width: 30px;
}

.sendImage {
  font-size: 40px;
  margin: 0 15px;
  color: #addfd0;
  cursor: pointer;
}

.sendImageInput {
  display: none;
}
.backButton {
  width: 20%;
  border: none;
  border-radius: 15px;
  padding: 4px 10px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: #8ab2a6;
}

.sentImage {
  width: 200px;
  cursor: pointer;
}

.modalImage {
  max-height: 100%;
}

@media screen and (max-width: 1200px) {
  .chatContainer {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .chatContainer {
    width: 60%;
  }
  .messageContainer {
    padding: 0 10px;
  }
}

@media screen and (max-width: 470px) {
  .chatContainer {
    width: 100%;
  }

  .sendImage {
    font-size: 35px;
    margin: 0 10px;
  }
}
